* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid lightgreen;
}

:root {
  --vdgb: hsl(217, 19%, 35%);
  --ddb: hsl(214, 17%, 51%);
  --gb: hsl(212, 23%, 69%);
  --lgb: hsl(210, 46%, 95%);
}

img {
  max-width: 100%; /* Never get wider than the parent container */
  display: block; /* Removes the tiny gap at the bottom of images */
  height: auto; /* Maintains the original aspect ratio */
}

body {
  max-width: 600px;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  margin: 2rem auto;
}

h1 {
  color: var(--vdgb);
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.25px;
  font-weight: 700;
}

.content-wrapper p {
  color: var(--ddb);
  font-size: 0.813rem;
  line-height: 1.4;
  letter-spacing: 0.12%;
}

article {
  display: grid;
  /* grid-template-rows: 1fr span 2; */
  grid-template-rows: auto 1fr;
  gap: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 30px 50px -15px rgba(0, 0, 0, 0.25);
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 1rem 3rem 3rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.author-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.author-name {
  color: var(--vdgb);
  font-size: 0.813rem;
  line-height: 1.4;
  letter-spacing: 0.12%;
  font-weight: 700;
}
.date-published {
  color: var(--gb);
  font-size: 0.813rem;
  line-height: 1.4;
  letter-spacing: 0.12%;
}
.footer-wrapper {
  display: flex;
  gap: 1rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--lgb);
}

.share-icon {
  color: var(--ddb);
}
